@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.chewy-regular {
    font-family: "Chewy", serif;
    font-weight: 400;
    font-style: normal;
  }
  

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 2rem;
    font-family: "Chewy", serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}
  
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
#root, #__next {
    isolation: isolate;
}

body::before {
    position: absolute;
    z-index: -1;
    inset: 0;
    background: repeating-conic-gradient(from 45deg, #0000 0 25%, #fff 0 50%) 0 / 3em 3em;
    filter: drop-shadow(0 1px 2px #0003);
    content: ''
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
}

#header {
    text-align: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    border: none;
}

button {
    width: 200px;

}

#board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
}

.cell {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    cursor: pointer;
    background-color: rgb(240, 128, 128);
}

.cell:hover {
    background-color: rgba(240, 128, 128, 0.8);
}

#results {
    background-color: hsl(34, 78%, 91%, .5);
    border: none;
    border-radius: 10px;
    min-height: 50px;
    margin-top: 20px;
}